@use "../../assets/style/_variables.scss" as *;

.btn {
  border-radius: 20px;
  padding: 10px 60px;
  background-color: $main-color;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
  &:hover {
    color: #fff;
    opacity: 0.8;
  }
  &:disabled {
    color: #fff;
    opacity: 0.5;
    cursor: auto;
  }

  &__small {
    padding: 10px 40px;
  }
}
