.card {
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    &:hover {
        width: 256px;
        height: 256px;
        box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.18), 0 6px 5px 0 rgba(0, 0, 0, 0.24);
    }

    &__img {
        width: 225px;
        height: 225px;
        object-fit: cover;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 90%);
        opacity: 0; 
        transition: opacity 0.3s ease;
    }

    &:hover::before {
        opacity: 1;
    }

    &__like {
        position: absolute;
        top: 210px;
        left: 210px;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }

}
